/* GENERAL BUILD UI */
#builder {
  font-size:0;
  max-width:1000px;
  margin:50px auto;
}

#build-list .ui-block {
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center;
}

#equipment {
  position:relative;
  top:36px;
  width:280px;
  z-index:1;
}

#equipment .ui-block {
  height:80px;
  width:80px;
  margin-right:4px;
}
#equipment .equip-row.last .ui-block { margin-right:0; }

.equip-row {
  display:inline-block;
  position:relative;
}

#equipment .ui-block.ui-transform {
  background:transparent;
  position:absolute;
  top:1px;
  left:1px;
  height:40px;
  width:40px;
  margin:0;
  border-color:rgba(81, 77, 76, 0.3);
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center;
}

#passives .ui-block {
  height:66px;
  width:66px;
  margin:0 2px 2px 0;
}

#passives .ui-block.last { margin-right:0; }
#passives .passive-row.last .ui-block { margin-bottom:0 }

#build-list #blood-code.ui-block {
  height:135px;
  width:195px;
  background-size:auto;
}

#actives .ui-block {
  height:72px;
  width:72px;
  position:absolute;
}

.ui-block {
  border:1px solid #514D4C;
  background:#222;
  display:inline-block;
  box-sizing:border-box;
  cursor:pointer;
}

#build-column {
  width:65%;
  min-width:650px;
  position:relative;
}

@supports (pointer-events: none) {
  #build-overlay {
    background:url(../images/ui/overlay.png) no-repeat;
    height:190px;
    width:527px;
    position:absolute;
    top:44px;
    left:-8px;
    pointer-events:none;
  }
}

#build-column > div {
  display:inline-block
}

#info-column {
  font-size:14px;
  width:35%;
}

#stats-window { margin:-80px 0 20px 0; }
#stats-window .spacer { height:355px; }
#options .spacer { height:143px; }

/* offsets */
#options .info-label { width:120px; }
#options .info-value { margin-left:130px; }

#options select { width:80%; }
#options .info-value select { margin-top:-5px; }

#passives, #blood-code {
  margin-right:25px;
  vertical-align:115px;
}
#passives { margin-right:50px; }

#actives-top, #actives-bottom {
  height:120px;
  width:232px;
  margin-top:40px;
  position:relative;
}

#actives-bottom {
  margin-top:80px;
  top:-4px;
}

#active-1, #active-5 { left:0; }
#active-2, #active-6 {
  top:-40px;
  left:80px
}

#active-3, #active-7 { right:0; }
#active-4, #active-8 {
  bottom:0;
  left:80px;
}


/* UI HOVER EFFECT */
.ui-block:hover, .ui-block.info-active {
  border-color:#FFF;
  box-shadow:0px 0px 5px rgba(255, 255, 255, 0.5), 0px 0px 5px inset rgba(255, 255, 255, 0.5);
}
#equipment .ui-block.ui-transform:hover { border-color:#FFF; }


/* TEXT COLORS */
.t-darker { color:#888; }
 

/* HR */
.hr {
  border-bottom:2px solid #444;
  margin:5px 0;
  position:relative;
  width:95%;
  box-sizing:border-box;
}

.hr:after, .hr:before {
  content:"";
  background:#444;
  position:absolute;
  height:8px;
  width:2px;
}

.hr:after {
  right:-5px;
  top:-3px
}

.hr:before {
  left:-5px;
  top:-3px
}

.ui-window-inner .hr {
  margin:10px auto;
  width:90%;
}


/* INFO ROWS */
.info-group { margin-bottom:30px; }
.info-group-title {
  font-size:18px;
  color:#A1A1A3;
}

.info-row {
  font-size:15px;
  margin:5px 0;
}

.info-row:after {
  content:"";
  display:table;
  clear:both;
}

.info-label, .info-value {
  display:block;
  padding-top:2px;
  padding-bottom:2px;
  box-sizing:border-box;
}

.info-label {
  color:#C8C0B3;
  border-right:2px solid #C8C0B3;
  text-align:right;
  padding-right:5px;
  width:140px;
  float:left;
}

.info-value {
  color:#DCD7D4;
  vertical-align:top;
  margin-left:150px;
}

.info-value.stat-good, .stat-good { color:#95AFE8; }
.info-value.stat-bad, .stat-bad { color:#F30A0E; }

.info-label.no-value {
  border:none;
  margin:0;
}

.info-sub-group .info-label, .info-sub-group .info-value {
  display:inline-block;
  margin:0;
}

.info-sub-group .info-label {
  font-size:13px;
  vertical-align:2px;
  border:none;
  width:80px;
  float:none;
}

.info-sub-group .info-value {
  font-size:18px;
  vertical-align:0;
}

/* specific styles for skill/item info */
.skill-info .info-group-title {
  font-size:14px;
  margin-left:50px;
}

.skill-info .info-label.no-value {
  width:auto;
  margin-left:160px;
}

.skill-info-list .info-label { width:200px; }
.skill-info-list .info-value { margin-left:210px; }

.ui-window-inner.status-info {
  padding-top:30px;
  padding-left:30px;
}

/* weapon requirements */
.weapon-requirement { height:20px; }
.weapon-requirement img {
  height:30px;
  vertical-align:middle;
  margin-right:5px;
  margin-top:-10px;
  position:relative;
  top:5px;
}
.weapon-requirement img:first-child { margin-left:3px; }
.weapon-requirement img:last-child { margin-right:0; }
.weapon-requirement .weapon-invalid { opacity:0.3; }


/* share/load build */
.share-build-options input { width:80%; }
.share-build-options .button { margin:0 5px 0 0; }

.share-build-options .info-label {
  font-size:16px;
  width:180px;
}

.share-build-options .info-value { margin-left:190px; }

.share-build-options input { margin-top:-3px; }


/* WEAPON/SKILL SELECTION WINDOW */
#selector-window {
  font-size:14px;
  position:relative;
}

#selector-box { padding-bottom:20px; }
#selector-options {
  height:600px;
  font-size:0;
  overflow:auto;
  margin:0 20px;
}

#selector-window .ui-block {
  height:80px;
  width:80px;
  margin:0 5px 5px 0;
  background-size:100%;
  background-repeat:no-repeat;
  background-position:center;
}

#selector-window .ui-block.ui-blood_code {
  height:75px;
  width:105px;
  margin:0 2px 4px 0;
}

#selector-window .ui-block.ui-transform { background-size:60px; }

.ui-title {
  color:#8D8D8B;
  background:#222;
  font-size:20px;
  font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  height:64px;
  line-height:64px;
  padding:0 30px;
  margin-bottom:20px;
}

.ui-window { background:rgba(0, 0, 0, 0.4); }
.ui-window-inner { padding:6px; }

.selector-column:first-child .ui-window { margin-right:12px; }
.selector-column:last-child .ui-window { margin-left:12px; }


/* SELECTION WINDOW SCROLL BAR */
#selector-options::-webkit-scrollbar {
  width:13px;
  height:13px;
  border-left:1px solid #A99F8B;
}

#selector-options::-webkit-scrollbar-thumb {
  height:6px;
  background-color:#A99F8B;
  border:3px solid transparent;
  border-top:none;
  border-bottom:none;
  background-clip:padding-box;
}
#selector-options::-webkit-scrollbar-thumb:hover { background-color:#998F7B }
#selector-options::-webkit-scrollbar-thumb:active { background-color:#796F5B }

#selector-options::-webkit-scrollbar-button { display:none; }
#selector-options::-webkit-scrollbar-corner { background-color:transparent; }


/* GROUP SELECTOR */
.ui-title.ui-group-present {
  border-bottom:2px solid #111;
  margin-bottom:0;
}

.ui-title.ui-groups {
  background:#212121;
  height:72px;
  padding:0;
  text-align:center;
  white-space:nowrap;
  overflow-x:auto;
  overflow-y:hidden;
}

.ui-group-option {
  background-repeat:no-repeat;
  background-position:center;
  position:relative;
  display:inline-block;
  height:60px;
  width:48px;
  margin-top:8px;
  cursor:pointer;
}

.ui-group-list-weapon .ui-group-option, .ui-group-list-blood_veil .ui-group-option {
  padding:0 6px;
}

.ui-group-option.ui-group-active{ background-color:#666; }
.ui-group-option.ui-group-active:after, .ui-group-option:hover:after {
  content:"";
  position:absolute;
  left:0;
  right:0;
  bottom:-4px;
  border-bottom:4px solid #FFF;
}


/* INSUFFICIENT STATS STYLE */
.ui-stats-bad { position:relative; }
.ui-stats-bad:before {
  content:"";
  border-bottom:5px solid #D73B3C;
  margin-top:-2px;
  width:100%;
  transform:rotate(45deg);
  position:absolute;
  top:50%;
  left:0;
}


/* EQUIPPED STYLE */
#selector-options .ui-equipped { position:relative; }
#selector-options .ui-equipped:after {
  content:url(../images/ui/equipped.png);
  height:30px;
  width:30px;
  position:absolute;
  bottom:-1px;
  right:-1px;
}

#selector-options .ui-equipped.ui-active-selection:after {
  content:url(../images/ui/equipped-active.png);
}


/* CLOSE BUTTON */
#selector-window #selector-close {
  font-size:20px;
  height:30px;
  width:30px;
  text-align:center;
  position:absolute;
  top:0;
  right:0;
  margin:0;
  padding:0;
}

/* WEAPON SKILL INFO (TOP) */
#selector-info-top {
  min-height:120px;
  margin-bottom:30px;
}

#selector-info-top .ui-block:before { display:none; }
#selector-info-top .ui-block {
  position:absolute;
  cursor:auto;
}

#selector-info-top .ui-block:hover {
  border-color:#514D4C;
  box-shadow:none;
}

.item-info { margin-left:95px }
.ui-blood_code + .item-info { margin-left:120px }

.item-info > div { width:95%; }
.item-title {
  color:#DCB;
  font-size:18px;
  padding:8px 0 0 3px;
}

.code-owner, .gift-origin { font-size:12px; }

.item-desc {
  line-height:20px;
  padding:3px;
}


/* ALERT SYSTEM */
#cv-alert {
  position:fixed;
  left:10px;
  bottom:10px;
  overflow:hidden;
  width:600px;
  opacity:1;
  transition:width 300ms, opacity 500ms;
  cursor:pointer;
}
#cv-alert.alert-closed { width:60px; }

#cv-alert-body {
  color:#1B0200;
  background-color:#E13E3F;
  height:60px;
  width:600px;
}

#cv-alert-icon, #cv-alert-text, #cv-alert-text p { position:absolute; }

#cv-alert-icon {
  color:#E13E3F;
  text-shadow:none;
  background-color:#1B0200;
  width:60px;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition:text-shadow 500ms, background-color 100ms;
}

#cv-alert-icon.icon-glow {
  text-shadow:0 0 15px #E13E3F, 0 0 5px #1B0200;
  background-color:#E13E3F;
}

#cv-alert-icon i {
  font-size:34px;
  text-align:center;
  display:block;
  line-height:60px;
}

#cv-alert-text {
  width:540px;
  left:60px;
  top:0;
  bottom:0;
}

#cv-alert-text p {
  font-size:14px;
  font-weight:bold;
  margin:0;
  padding:10px 30px;
  top:0;
  left:0;
  right:0;
  bottom:0;
}


/* info tags */
.tag {
  font-size:10px;
  font-weight:bold;
  text-transform:uppercase;
  font-family:sans-serif;
  border-radius:10px;
  vertical-align:middle;
  padding:3px 5px;
  cursor:default;
}

.tag-dlc {
  color:#FFF;
  background-color:#96F;
}

.tag-exclusive {
  color:#FC3;
  font-size:13px;
  padding:0;
  vertical-align:0;
}


/* checkbox zone */
.checkbox-zone { margin:25px 0 25px 0; }
.checkbox-zone input[type="checkbox"], .checkbox-zone label[for] {
  font-size:12px;
  font-weight:bold;
  vertical-align:middle;
  cursor:pointer;
}



/* RESPONSIVENESS */
@media (max-width:1000px) {
  #builder {
    padding:0 10px;
  }

  #build-column, #info-column {
    float:none;
    width:100%;
  }
  
  #stats-window { margin-top:0; }
}


@media (max-width:800px) {
  #cv-alert, #cv-alert-body {
    width:300px;
  }

  #cv-alert-text { width:240px; }
  #cv-alert-text p { padding:5px; font-size:11px; }
}