@font-face {
  font-family:'FontAwesomeWeb';
  src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), 
      url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), 
      url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), 
      url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), 
      url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight:normal;
  font-style:normal;
}

.fa { 
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesomeWeb, FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* text-selection */
::selection { color:#FFF; background-color:#E83836; }
::-moz-selection { color:#FFF; background-color:#E83836; }


/* body/general styles */
body {
  color:#BAB7B0;
  background:url(../images/bg.png) repeat fixed #111;
  font-size:13px;
  font-family:Meiryo, "Hiragino Kaku Gothic Pro", Osaka, "MS PGothic", sans-serif;
  padding:0;
  margin:0;
  display:flex;
  min-height:100vh;
  flex-direction:column;
}

p { font-size:14px; }
ul { padding-left:40px; }

a {
  color:#E83836;
  text-decoration:none;
  outline:none;
}
a:hover, a:focus { text-decoration:underline; }

optgroup {color:#CBA;}
optgroup option {color:#FFF;}

code {
  color:#E83836;
  background:#1A1A1A;
  border:1px solid #333;
  display:inline-block;
  padding:3px;
}

.page-container {
  padding-bottom:15px;
}

/* input fields */
input[type="text"], input[type="number"], textarea, select {
  font-size:14px;
  font-family:Arial, sans-serif;
  color:#FFF;
  background:#555;
  border:1px solid #222;
  padding:6px;
  outline:none;
}

select { cursor:pointer; }
input[type="text"]:disabled, input[type="number"]:disabled, textarea:disabled, select:disabled { color:#333; }
input[type="text"]::placeholder, input[type="number"]::placeholder, textarea::placeholder { color:#BBB; }
input[type="text"]:hover, input[type="number"]:hover, textarea:hover, select:hover { border-color:#666; }
input[type="text"]:focus, input[type="number"]:focus, textarea:focus, select:focus { border-color:#666; }

/* buttons */
.button, a.button {
  color:#E83836;
  background:#111;
  font-size:13px;
  font-family:Meiryo, Osaka, Arial, sans-serif;
  text-decoration:none;
  border:1px solid #E83836;
  font-weight:bold;
  display:inline-block;
  padding:6px 12px;
  margin:3px;
  cursor:pointer;
  outline:none;
  transition:0.2s ease-in-out;
}

.button:hover, a.button:hover, .button:focus, a.button:focus { background:#E83836; color:#FFF; }

/* button icons */
.button .fa {
  font-size:18px;
  vertical-align:middle;
  margin-right:6px;
}

/* aesthetic styles */
.center { text-align:center; }

.ul { text-decoration:underline; }

.nomargin { margin:0 !important; }
.clearfix { clear:both; }
.clear:after {
  content:"";
  display:table;
  clear:both;
}

/* header */
header {
  color:#FFF;
  background:url(../images/bg-head.png) bottom center no-repeat/*url(../images/code-vein.png) no-repeat 10px 50%*/ #222;
  padding:30px 20px 30px 140px;
  position:relative;
  overflow:hidden;
}

#home-link:before { /* makes the above background image clickable */
  content:url(../images/cv-logo.png);
  position:absolute;
  left:14px;
  top:50%;
  margin-top:-60px;
}

header h1 { font-size:32px; }
header h1 a { color:#FFF; }

h2 { margin:30px 0 0 0; }

a#fork-me {
  color:#FFF;
  background:#333;
  font-size:16px;
  font-weight:bold;
  text-align:center;
  text-transform:uppercase;
  text-decoration:none;
  line-height:30px;
  height:30px;
  width:200px;
  transform:rotate(45deg);
  position:absolute;
  right:-55px;
  top:30px;
  transition-property:color, background;
  transition-duration:300ms;
}

a#fork-me:hover, a#fork-me:focus {
  color:#333;
  background:#FFF;
}


/* announcement */
#announcement {
  color:#bab7b0;
  background:rgba(0, 0, 0, 0.4);
}

#announce-inner {
  max-width:1000px;
  margin:0 auto;
}

#announcement .fa {
  font-size:24px;
  vertical-align:middle;
}

#announcement a {
  color:#E83836;
  font-weight:bold;
}

#announcement h3 { margin:5px 0 5px 0; }

#announcement .announcement {
  font-size:14px;
  height:70px;
  box-sizing:border-box;
  padding:3px 6px;
  overflow-y:auto;
}

#announcement .announcement.announce-hidden {
  display:none;
}

#announcement .announcement .date {
  color:#FFF;
  font-size:11px;
  font-weight:normal;
  background:#E33;
  border:1px solid #D22;
  border-radius:3px;
  padding:1px;
  margin-right:3px;
}

#announce-list {
  position:relative;
  margin:0 20px;
}

#announcement .announce-controls {
  color:#FFF;
  background:#E83836;
  text-align:center;
  position:absolute;
  top:50%;
  margin:-15px 0 0 0;
  height:30px;
  width:20px;
  padding:0;
  opacity:0.5;
}

#announcement .announce-controls i.fa {
  font-size:16px;
  line-height:26px;
  margin:0;
}

#announcement .announce-controls:hover { opacity:1; }

#announcement .announce-controls.button-left { left:-20px; }
#announcement .announce-controls.button-right { right:-20px; }


/* content */
#content { flex:1 0 auto; }

.content-block {
  background:rgba(0, 0, 0, 0.25);
  max-width:1000px;
  margin:0 auto;
  padding:30px;
}

/* section anchors */
a.anchor {
  color:#666;
  font-size:16px;
  font-weight:normal;
  text-decoration:none;
  text-align:center;
  vertical-align:middle;
  display:inline-block;
  width:25px;
  margin:0 0 0 -25px;
}

.anchor-icon {
  display:inline-block;
  transform:rotate(-45deg);
  visibility:hidden;
}

h1:hover .anchor-icon, h2:hover .anchor-icon, h3:hover .anchor-icon, h4:hover .anchor-icon, h5:hover .anchor-icon, h6:hover .anchor-icon, .anchor:focus .anchor-icon {
  visibility:visible;
}

/* titles */
header h1, .title, .title-dsc, .title-med, .general-title, .section-title, .sub-title, #genki-modal-header {
  font-family:"游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

.general-title {
  color:#E83836;
  font-size:20px;
  border-bottom:2px solid #E83836;
  padding-bottom:3px;
}

.title {
  color:#FFF;
  background:url(../images/bg-title.png) center top no-repeat;
  font-size:28px;
  font-weight:bold;
  text-align:center;
  height:119px;
  padding-top:45px;
  box-sizing:border-box;
  margin:0 auto;
}

.title-desc {
  font-size:16px;
}

.title-med {
  font-size:18px;
  margin:10px 0;
}

.section-title {
  color:#E83836;
  font-size:24px;
  border-bottom:2px solid #E83836;
  margin:0;
  padding-bottom:6px;
}

.sub-title {
  font-size:18px;
  margin:16px 0;
}

/* footer */
footer {
  color:#FFF;
  background:#222;
  padding:15px;
}

footer a, #light-switch-label { color:#CCC; }
footer a:hover, #light-switch-label:hover { color:#FFF; }

footer ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

footer li { float:left; }
footer li:before {
  content:"\f111";
  font-family:FontAwesomeWeb, FontAwesome;
  font-size:6px;
  margin:0 5px;
  vertical-align:middle;
}
footer li:first-child:before { display:none; }

.footer-left { float:left; }
.footer-right { float:right; }

/* improve list link clickability */
#content li a {
  padding:3px 0;
  display:inline-block;
}


/* columns */
.columns-2 > * {
  width:50%;
  margin:0 0 25px 0;
  float:left;
}


/* GENKI MODAL */
#genki-modal-overlay {
  background:#000 no-repeat center;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:0.5;
  z-index:9999;
}

#genki-modal-body {
  background:#333;
  border:1px solid #111;
  position:fixed;
  top:10%;
  left:25%;
  right:25%;
  bottom:40%;
  z-index:99999;
}

#genki-modal-header {
  color:#FFF;
  background:#222;
  font-size:24px;
  margin:0;
  padding:0 6px;
  height:40px;
  line-height:40px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}

#genki-modal-content {
  font-size:15px;
  padding:6px;
  position:absolute;
  top:40px;
  left:0;
  right:0;
  bottom:40px;
  overflow-y:auto;
}

#genki-modal-buttons {
  height:40px;
  line-height:40px;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

#genki-modal-buttons .button {
  line-height:normal;
  margin:0 6px 0 6px;
}


/* RESPONSIVENESS */
@media (max-width:1000px) {
  /* wrapper's max-width is 1000px, so remove padding so the page takes up the whole screen */
  .content-block { padding:30px 0; }
  
  /* footer links */
  footer li {
    float:none;
    display:inline-block;
  }
  
  footer li:before { margin-left:0; }
  
  .footer-left, .footer-right {
    float:none;
    text-align:center;
    margin-bottom:10px;
  }

  /* add a bit of padding to other elements, specifically for the index and other such pages */
  p, h2, h3, h4 {
    padding:0 6px;
  }
  
  /* adjust anchor position */
  a.anchor {
    margin:0 0 0 -5px;
  }
  
  .center a.anchor {
    margin:0 0 0 -25px;
  }
  
  /* modal */
  #genki-modal-header { font-size:16px; }
  #genki-modal-content { font-size:14px; }
  #genki-modal-body {
    left:10%;
    right:10%;
    bottom:20%;
  }
}

@media (max-width:820px) {
  header {
    padding:100px 0px 0px 0px;
    text-align:center;
  }

  header h1 { font-size:24px; }

  #home-link:before {
    position:absolute;
    height:100px;
    width:120px;
    top:60px;
    left:50%;
    margin-left:-60px;
  }
  
  /* reduce size of lesson titles */
  .general-title { font-size:18px; }
  
  /* display columns below one another */
  .columns-2 > * {
    float:none;
    width:100%;
  }
}

/* improve clickability of list links for touch screens */
@media (pointer:coarse) {
  #content li a {
    padding:6px 0;
    font-size:14px;
  }
}